.CurrencyList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.CurrencyListItem {
  display: flex;
  width: 100%;
  margin: 0.5em 0;
  border-radius: 0.8em;
}

input {
  height: 2em;
  border: none;
  margin-left: 0.5em;
  border-radius: 50px;
  padding: 0 0.7em;
  background-color: #edf0f6;
  outline: none;
}
