.CurrencyList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  font-size: 1.2em;
}

.CurrencyListItem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0.5em 0;
  padding-right: 10em;
  border-radius: 0.8em;
}

input {
  font-size: 1.1em;
  height: 2em;
  border: none;
  margin-left: 1em;
  border-radius: 50px;
  padding: 0 0.7em;
  background-color: #edf0f6;
  outline: none;
  text-align: right;
}
